Makefile
climber.x
input
output
src/main/gitversion.f90
src/bgc
src/utils/exlib
src/utils/fftw*
src/utils/lis*
src/utils/coordinates*
src/yelmo*
src/vilma
bench
matlab
data
restart/*
!restart/restart_pi/
!restart/restart_pi_cc_open/
!restart/restart_lgm/
restart/restart_pi/geo_restart.nc
restart/restart_pi_cc_open/geo_restart.nc
restart/restart_lgm/geo_restart.nc
*.sh
!run_bench_cx.sh
!run_bench.sh
*.nc
TODO
